	.header {
		position: relative;
		width: 100%;
		height: 450rpx;
		text-align: center;
		background: #E1D7F0;

		.header-mask {
			width: 100%;
			height: 100%;
			position: absolute;
			background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 70%, rgba(0, 0, 0, .8) 100%);
			z-index: 100;
		}

		.header-background {
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			height: 100%;
			width: 100%;
		}

		.user-avatar {
			margin-top: 140rpx;
			width: 160rpx;
			height: 160rpx;
			z-index: 200;
		}

		.nickname {
			position: absolute;
			top: 70%;
			left: 50%;
			transform: translateX(-50%);
			height: 50rpx;
			width: auto;
			min-width: 120rpx;
			background-color: rgba(0, 0, 0, 0.2);
			border: 1px solid rgba(0, 0, 0, 0.1);
			z-index: 200;
		}

		.user-info {
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			margin: 20rpx auto;
			z-index: 200;

			.tag-title {
				background-color: rgba(255, 255, 255, 0.6);
				margin-left: 20rpx;
			}
		}
	}

	.current {
		border-bottom: 1px solid;
		transition: .5s ease-in;
	}